body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:53px;
  top:215px;
  width:948px;
  height:685px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:685px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:53px;
  top:39px;
  width:956px;
  height:84px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:84px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:301px;
  top:83px;
  width:77px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:53px;
  top:155px;
  width:948px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:948px;
  height:2px;
}
#u7 {
  position:absolute;
  left:53px;
  top:170px;
  width:407px;
  height:35px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:35px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:53px;
  top:1018px;
  width:955px;
  height:98px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:99px;
}
#u10 {
  position:absolute;
  left:2px;
  top:41px;
  width:951px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:430px;
  top:190px;
  width:670px;
  height:0px;
}
#u11_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:684px;
  height:20px;
}
#u12 {
  position:absolute;
  left:285px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1078px;
  top:200px;
  width:308px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:53px;
  top:155px;
  width:948px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:939px;
  top:-5px;
  width:14px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:948px;
  height:2px;
}
#u16 {
  position:absolute;
  left:53px;
  top:133px;
  width:161px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:209px;
  top:133px;
  width:161px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:351px;
  top:133px;
  width:161px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
