body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:53px;
  top:27px;
  width:848px;
  height:87px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:87px;
}
#u1 {
  position:absolute;
  left:2px;
  top:36px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:219px;
  top:138px;
  width:675px;
  height:287px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:287px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:240px;
  top:146px;
  width:653px;
  height:287px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:287px;
}
#u4 {
  position:absolute;
  left:2px;
  top:136px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:53px;
  top:112px;
  width:177px;
  height:321px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:183px;
  height:327px;
}
#u6 {
  position:absolute;
  left:1px;
  top:1px;
  width:180px;
  height:324px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:175px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:175px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:90px;
  width:175px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:120px;
  width:175px;
  height:33px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:153px;
  width:175px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:32px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:184px;
  width:175px;
  height:32px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:33px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:216px;
  width:175px;
  height:29px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:245px;
  width:175px;
  height:33px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:278px;
  width:175px;
  height:41px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:42px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:176px;
  top:61px;
  width:102px;
  height:62px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:108px;
  height:68px;
}
#u28 {
  position:absolute;
  left:1px;
  top:1px;
  width:105px;
  height:65px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  color:#3366CC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:20px;
  width:100px;
  height:20px;
  color:#3366CC;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:20px;
  color:#3366CC;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:53px;
  top:469px;
  width:840px;
  height:265px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:265px;
}
#u36 {
  position:absolute;
  left:2px;
  top:124px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:53px;
  top:443px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:53px;
  top:781px;
  width:840px;
  height:265px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:265px;
}
#u40 {
  position:absolute;
  left:2px;
  top:124px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:53px;
  top:755px;
  width:78px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:53px;
  top:1095px;
  width:840px;
  height:265px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:265px;
}
#u44 {
  position:absolute;
  left:2px;
  top:124px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:53px;
  top:1065px;
  width:78px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF6666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:835px;
  top:449px;
  width:58px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:866px;
  top:451px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:835px;
  top:759px;
  width:58px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:866px;
  top:761px;
  width:27px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:835px;
  top:1069px;
  width:58px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:866px;
  top:1071px;
  width:27px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:53px;
  top:1404px;
  width:840px;
  height:83px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:84px;
}
#u60 {
  position:absolute;
  left:2px;
  top:34px;
  width:836px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:277px;
  top:71px;
  width:77px;
  height:34px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:53px;
  top:134px;
  width:848px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:839px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:4px;
  width:848px;
  height:2px;
}
#u64 {
  position:absolute;
  left:998px;
  top:194px;
  width:202px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:900px;
  top:190px;
  width:100px;
  height:10px;
}
#u66_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u66_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:24px;
}
#u67 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:911px;
  top:73px;
  width:589px;
  height:66px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:67px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:910px;
  top:110px;
  width:-560px;
  height:-20px;
}
#u70_seg0 {
  position:absolute;
  left:-369px;
  top:-10px;
  width:373px;
  height:20px;
}
#u70_seg1 {
  position:absolute;
  left:-369px;
  top:-30px;
  width:20px;
  height:40px;
}
#u70_seg2 {
  position:absolute;
  left:-564px;
  top:-30px;
  width:215px;
  height:20px;
}
#u71 {
  position:absolute;
  left:-340px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:220px;
  top:112px;
  width:161px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:380px;
  top:112px;
  width:161px;
  height:27px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:28px;
}
#u75 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
