@charset "utf-8";
*{
	padding:0px;
	margin:0px;
}
/*居中对齐*/
#container{
	width:960px;
	height:auto;
	left:50%;
	position:absolute;
	margin-left:-480px;
}
span{
	color: #333333;
    font-family: 'Arial Normal','Arial';
    font-size: 13px;
}





