/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{margin:0;padding:0;}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption, th{text-align:left;font-weight:normal;}
html, body, fieldset, img, iframe, abbr{border:0;}
i, cite, em, var, address, dfn{font-style:normal;}
[hidefocus], summary {
outline:0;}
li{list-style:none;}
h1, h2, h3, h4, h5, h6, small{font-size:100%;}
sup, sub{font-size:83%;}
pre, code, kbd, samp{font-family:inherit;}
q:before, q:after{content:none;}
textarea{overflow:auto;resize:none;}
label, summary{cursor:default;}
a, button{cursor:pointer;}
h1, h2, h3, h4, h5, h6, em, strong, b{font-weight:bold;}
ins, u, s, a, a:hover{text-decoration:none;}
body, textarea, input, button, select, keygen, legend{font:12px/1.14 arial, \5b8b\4f53;color:#333;outline:0;}
body{background:#fdfdfd;}
html{width:100%;overflow-x:hidden;}
a{color:#333;}
a:hover{text-decoration:underline;}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.wrap{width:100%;}
.content{width:1200px;margin-left:auto;margin-right:auto;clear:both;overflow:hidden;}
.header{border-top:2px solid #ff4b00;background-color:#fff;}
div.logo{float:left;margin:10px 0;}
div.city{height:80px;line-height:81px;margin:10px 0;float:left;}
div.city .citychangge{color:#73abc9;margin-left:10px;}
.header-btn{float:right;height:80px;line-height:80px;margin:10px 0;overflow:hidden}
.header-btn ul{overflow:hidden;}
.header-btn ul li{display:inline-block;+float:left;*margin-top:26px}
.header-btn ul li a{height:30px;display:inline-block;padding:0 25px;background-color:#51ba9b;line-height:30px;color:#fff;margin-left:10px;font-family:microsoft yahei;}
.nav{height:40px;line-height:40px;background-color:#ff4b00;}
.navsite ul li{float:left;margin-left:20px;/*IE6 hack*/+margin-left:10px;}
.navsite ul li a{font-size:1.4em;color:#fff;width:80px;text-align:center;font-weight:700;display:block;float:left;}
.navsite ul li a:hover{background-color:#e64600;}
#banner{box-shadow:1px 2px 4px #999;border-bottom:1px solid #999;margin-bottom:20px;background-color:#ff7900;position:relative}
/* banner */

.banner{width:1200px;height:370px;position:relative;overflow:hidden;margin-left:auto;margin-right:auto;}
.banner-btn{display:none;}
.banner-btn a{display:block;line-height:40px;position:absolute;top:150px;width:40px;height:40px;background-color:#000;opacity:0.3;
filter:alpha(opacity=30) color:rgb(255, 255, 255);overflow:hidden;z-index:4;}
.prevBtn{left:240px;}
.nextBtn{right:5px;}
.banner-img{font-size:0;*word-spacing:-1px;/* IE6、7 */letter-spacing:-3px;position:relative;}
.banner-img li{display:inline-block;*display:inline;
*zoom:1;/* IE6、7 */vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px;}
.banner i{background:url(http://gtms01.alicdn.com/tps/i1/T1szNBFzlmXXX8QSDI-400-340.png) no-repeat;width:15px;height:23px;cursor:pointer;margin:8px 0 0 12px;display:block;}
.banner .nextBtn i{background-position:-200px -24px;}
.banner .prevBtn i{background-position:-200px 0px;}
.rootmenu{position:absolute;top:10px;left:50%;margin-left:-602px;}
.menu-bg{width:210px;z-index:777;_margin-left:-10px;}
.nav-menu{background:#fff;border:1px solid #ffb400;width:208px;}
.nav-menu h2{width:191px;text-align:left;padding-left:17px;+padding-left:27px;}
.nav-menu h2{background:#FAFAFA;font-size:14px;color:#333;font-family:microsoft yahei;line-height:33px;}
div.nav-menu ul{width:194px;margin-bottom:5px;padding-left:14px;}
div.nav-menu ul li{float:left;height:27px;width:94px;padding:0 3px 0 0;}
.nav-menu ul li a{height:23px;line-height:23px;}
.nav-menu ul li a:hover{color:#ff4b00}
ul.category-2014 {
padding-left:0 !important;
width: 208px !important;
}
ul.category-2014 li {
width: 191px !important;
position: relative !important;
}
ul.category-2014 .item .item-catwrap {
display: block;
position: absolute;
left: 1px;
z-index: 14;
width: 191px;
}
ul.category-2014 li h3 {
font-size: 12px;
font-family: "\5b8b\4f53";
font-weight: 400;
padding-left: 17px;
width: 191px;
}
ul.category-2014 h3 .catelist {
width: 84px;
float: left;
}
ul.category-2014 li a {
display: block;
}
ul.category-2014 .item .i-mc {
display: none;
position: absolute;
left: 208px;
width: 400px;
border: 1px solid #DDD;
background: #fff;
overflow: visible;
-moz-box-shadow: 0 0 10px #DDD;
-webkit-box-shadow: 0 0 10px #DDD;
box-shadow: 0 0 10px #DDD;
top: -20px;
z-index: 12;
}
ul.category-2014 .item #i_mc2{top:-30px;}
ul.category-2014 .item #i_mc3{top:-57px;}
ul.category-2014 .item #i_mc4{top:-84px;}
ul.category-2014 .i-mc .subitem dt {
display: block;
width: 375px;
overflow: hidden;
border-top: 1px solid #DDD;
padding-top: 7px;
margin-top: 5px;
}
ul.category-2014 .i-mc .subitem .fore1 dt {
border-top: 0;
padding-top: 0;
}
ul.category-2014 .i-mc .subitem a {
background: #fff;
color: #666;
}
ul.category-2014 .i-mc .subitem dt a {
font-weight: 700;
color: #E4393C;
font-size: 14px;
padding-left: 3px;
}
ul.category-2014 .i-mc .subitem dd {
overflow: hidden;
margin-left: 5px;
width: 375px;
}
ul.category-2014 .i-mc .subitem dd em {
display: inline-block;
float: left;
line-height: 14px;
padding: 0 5px;
white-space: nowrap;
font-style:normal;
}
ul.category-2014 .i-mc .subitem dd a {
float: none;
display: inline;
padding: 0;
font-weight:normal;
}
ul.category-2014 .i-mc .subitem a {
background: #fff;
color: #666;
}
div.nav-menu ul.category-2014 .hover .i-mc {
	display: block
}
div.nav-menu ul.category-2014 .hover s {
	display: block;
	height: 23px;
	width: 6px;
	position: absolute;
	left: 207px;
	top: 1px;
	background: #fff
}
div.nav-menu ul.category-2014 .item .item-catwrap {
	display: block;
	position: absolute;
	left: 1px;
	z-index: 14;
	width: 191px
}
div.nav-menu ul.category-2014 .hover h3 {
	border: solid #DDD;
	border-width: 1px 0;
	background-color: #fff;
	overflow: hidden;
	-moz-box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	box-shadow: 0 0 8px #DDD
}
div.nav-menu ul.category-2014 .hover h3 a {
	background: #fff;
	color: #666
}
div.nav-menu ul.category-2014 .hover h3 a i {
	background: #666
}
div.nav-menu ul.category-2014 .hover h3 a:hover {
	color: #E4393C;
	text-decoration: underline;
	background: #fff
}
div.nav-menu ul.category-2014 .hover h3 a:hover i {
	background: #E4393C
}
div.nav-menu ul.category-2014 h3 .catelist {
	width: 84px;
	float: left
}
div.nav-menu ul.category-2014 .hover h3 a b {
	color: #aaa
}


.k2{margin-bottom:50px;}
.floor{margin:20px auto;}
.floor .floor-title{margin:20px auto;border-bottom:2px solid #ff4b00;overflow:hidden;line-height:20px;padding:5px 0;}
.floor .floor-title h2{float:left;}
.floor .floor-title h2 a{color:#ff4b00;font-size:20px;font-weight:700;font-family:microsoft yahei;}
.floor .floor-title .floor-bq{margin-left:10px;}
.floor .floor-title .floor-bq a{color:#ff4b00;margin:0 10px;font-size:14px;}
.floor .floor-title .more{float:right;+margin-top:-27px}
.shop-ul{width:1300px;overflow:hidden;}
.shop-ul li{float:left;margin-right:20px;margin-bottom:20px;border:1px solid #d1d1d1;width:283px;}
.shop-ul li:hover{border-color:#ff4b00;}
.shop-title{height:60px;background:url(../pic/shop-li-bg.jpg) bottom repeat-x #fff;line-height:25px;padding:0 10px;}
.shop-title h4{font-weight:normal;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.shop-title h4 a{font-size:14px;font-weight:700;}
.shop-title del{color:#cbcbcb;}
.shop-mach{padding:0 10px;overflow:hidden;}
.shop-mach span{display:block;float:left;}
.shop-mach span i{color:#a2a2a2;}
.shop-mach span strong{font-size:36px;color:#ff4b00;}
.shop-mach b{float:right;margin-top:20px;color:#e4393c;}
/*更多本地生活*/
.block-more{display:block;background-color:#ededed;text-align:center;line-height:40px;font-size:14px;font-weight:700;font-family:microsoft yahei;}
/*页脚*/
.qdb-footer{background-color:#fff;margin:10px 0 0;}
.qdb-footer-center{width:1200px;margin:0 auto;position:relative;}
.qdb-footer-center dl{float:left;padding-left:15px;width:220px;min-height:170px;overflow:hidden;
 *height:170px;}
.qdb-footer-center dl.mobile{width:110px;margin-left:30px;}
.qdb-footer-center dl.mobile dt{text-align:center;}
.qdb-footer-center dl dt{color:#646464;font-size:16px;font-weight:700;height:30px;line-height:30px;}
.qdb-footer-center dl a{display:block;width:100px;overflow:hidden;text-align:left;height:20px;line-height:20px;color:#8b8b8b;}
.tmall-mobile a{width:105px !important;height:105px !important;line-height:105px !important;text-align:center;}
.qdb-footer-info{clear:both;border-top:2px solid #898989;background:#686868;}
.foot-info{color:#fff;line-height:25px;padding:10px 0 10px 20px;color:#FFF;}
.foot-info p, .foot-info a{color:#FFF;}
.tmall-desc dl a{display:block;width:100px;overflow:hidden;text-align:left;color:#8b8b8b;}
.foot-qdb-copyright{padding:0 0 60px 20px;line-height:20px;background:#686868;color:#d0d0d0;}
.qdb-subnav{float:left;}
.qdb-subnav li{display:inline;margin-right:10px;border-right:1px solid #ddd;padding-right:10px;color:#7d7b7b;}
.qdb-copyright{float:right;line-height:24px;margin-top:-5px;}
.qdb-copyright img, .qdb-copyright span{float:left;vertical-align:middle;margin-left:10px;color:#777;}
.shop-ul .redborder{border:#ff4b00 1px solid}




/**/
div.nav-menu ul{display:block;
    margin-bottom: 5px;
    /*IE6 hack*/+padding-left: 24px;
    width: 194px;

}
