/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{margin:0;padding:0;}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption, th{text-align:left;font-weight:normal;}
html, body, fieldset, img, iframe, abbr{border:0;}
i, cite, em, var, address, dfn{font-style:normal;}
[hidefocus], summary {
outline:0;}
li{list-style:none;}
h1, h2, h3, h4, h5, h6, small{font-size:100%;}
sup, sub{font-size:83%;}
pre, code, kbd, samp{font-family:inherit;}
q:before, q:after{content:none;}
textarea{overflow:auto;resize:none;}
label, summary{cursor:default;}
a, button{cursor:pointer;}
h1, h2, h3, h4, h5, h6, em, strong, b{font-weight:bold;}
ins, u, s, a, a:hover{text-decoration:none;}
body, textarea, input, button, select, keygen, legend{font:12px/1.14 arial, \5b8b\4f53;color:#333;outline:0;}
body{background:#fdfdfd;}
html{width:100%;overflow-x:hidden;}
a{color:#333;}
a:hover{text-decoration:underline;}
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.wrap{width:100%;}
.content{width:1200px;margin-left:auto;margin-right:auto;clear:both;overflow:hidden;}
.header{background-color:#fff;}
div.logo{float:left;margin:10px 0;}
div.city{height:80px;line-height:81px;margin:10px 0;float:left;}
div.city .citychangge{color:#73abc9;margin-left:10px;}
.header-btn{float:right;height:80px;line-height:80px;margin:10px 0;overflow:hidden}
.header-btn ul{overflow:hidden;}
.header-btn ul li{display:inline-block;+float:left;*margin-top:26px}
.header-btn ul li a{height:30px;display:inline-block;padding:0 25px;background-color:#51ba9b;line-height:30px;color:#fff;margin-left:10px;font-family:microsoft yahei;}
.nav{height:30px;line-height:30px;background-color:#ff4b00;}
.navsite ul li{float:left;/*IE6 hack*/+margin-left:10px;}
.navsite ul li a{font-size:1.4em;color:#fff;width:80px;text-align:center;font-weight:700;display:block;float:left;}
.navsite ul li a:hover{background-color:#e64600;}
#banner{box-shadow:1px 2px 4px #999;border-bottom:1px solid #999;margin-bottom:20px;background-color:#ff7900;position:relative}
/* banner */


.topcity{
	background: none repeat scroll 0 0 #f9f9f9;
    font-family: Arial,"宋体",sans-serif;
    font-size: 14px;
    line-height: 200%;
    text-align: left;
	margin-top:15px;
	}

.topcity a {
    color: #0000cc;
    margin: 0 3px;
    text-decoration: none;
}
.topcity a:hover {
    color: #e40000;
}

#clist {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 20px;
    width: 990px;
}
#clist dt {
    clear: both;
    color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 3px 0 3px 4px;
    width: 50px;
}
#clist dd {
    float: left;
    margin-left: 0;
    padding: 3px 0;
    width: 936px;
}
#clist dd a {
    font-size: 12px;
    margin-right: 12px;
    text-decoration: none;
    white-space: nowrap;
}

.footer {
    border-top: 1px solid #ccc;
    font-size: 12px;
    line-height: 180%;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 0;
    text-align: center;
    width: 990px;
}
.footer a {
    color: #666;
    font-size: 12px;
    text-decoration: underline;
}
a.entrance {
    background: url("http://pic2.58.com/ui6/www/bgenter.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 40px;
    margin: 0 auto 10px;
    text-align: center;
    width: 205px;
}
a.entrance:hover {
    background-position: 0 -42px;
    color: #fff;
}
#around {
    display: none;
}


#clist dt.searchcity {
    width: 287px;
}
#inputdiv {
    border: 1px solid #cdcdcd;
    display: inline-block;
    width: 135px;
}
#clist dt.searchcity input {
    border: 0 none;
    height: 20px;
    line-height: 20px;
    padding: 2px 4px;
    vertical-align: middle;
    width: 127px;
}
#searchspan {
    padding: 3px 14px 3px 0;
}
#popularspan {
    padding: 3px 14px 3px 34px;
}
#clist dd.popular {
    width: 681px;
}
.border{
	border-bottom: 1px dotted #e4e4e4;
	margin-top:12px;
	margin-bottom:12px;	
	width:1200px;
	
	}


/*页脚*/
.qdb-footer{background-color:#fff;margin:78px 0 0;}
.qdb-footer-center{width:1200px;margin:0 auto;position:relative;}
.qdb-footer-center dl{float:left;padding-left:15px;width:220px;min-height:170px;overflow:hidden;
 *height:170px;}
.qdb-footer-center dl.mobile{width:110px;margin-left:30px;}
.qdb-footer-center dl.mobile dt{text-align:center;}
.qdb-footer-center dl dt{color:#646464;font-size:16px;font-weight:700;height:30px;line-height:30px;}
.qdb-footer-center dl a{display:block;width:100px;overflow:hidden;text-align:left;height:20px;line-height:20px;color:#8b8b8b;}
.tmall-mobile a{width:105px !important;height:105px !important;line-height:105px !important;text-align:center;}
.qdb-footer-info{clear:both;border-top:2px solid #898989;background:#686868;}
.foot-info{color:#fff;line-height:25px;padding:10px 0 10px 20px;color:#FFF;}
.foot-info p, .foot-info a{color:#FFF;}
.tmall-desc dl a{display:block;width:100px;overflow:hidden;text-align:left;color:#8b8b8b;}
.foot-qdb-copyright{padding:0 0 60px 20px;line-height:20px;background:#686868;color:#d0d0d0;}
.qdb-subnav{float:left;}
.qdb-subnav li{display:inline;margin-right:10px;border-right:1px solid #ddd;padding-right:10px;color:#7d7b7b;}
.qdb-copyright{float:right;line-height:24px;margin-top:-5px;}
.qdb-copyright img, .qdb-copyright span{float:left;vertical-align:middle;margin-left:10px;color:#777;}
.shop-ul .redborder{border:#ff4b00 1px solid}




/**/
div.nav-menu ul{display:block;
    margin-bottom: 5px;
    /*IE6 hack*/+padding-left: 24px;
    width: 194px;

}
