body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:50px;
  width:118px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:70px;
  top:314px;
  width:105px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:70px;
  top:360px;
  width:200px;
  height:260px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:260px;
}
#u5 {
  position:absolute;
  left:2px;
  top:122px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:67px;
  top:110px;
  width:200px;
  height:170px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:77px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:98px;
  top:391px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:97px;
  top:134px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:98px;
  top:187px;
  width:92px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:98px;
  top:224px;
  width:53px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:98px;
  top:430px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:98px;
  top:470px;
  width:79px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:98px;
  top:510px;
  width:79px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:98px;
  top:546px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
