body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:71px;
  width:909px;
  height:526px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:526px;
}
#u1 {
  position:absolute;
  left:2px;
  top:255px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:28px;
  width:66px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
