body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:60px;
  width:900px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:61px;
  top:1104px;
  width:900px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:181px;
  top:184px;
  width:648px;
  height:893px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:893px;
}
#u5 {
  position:absolute;
  left:2px;
  top:438px;
  width:644px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:424px;
  top:144px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
