body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:78px;
  top:49px;
  width:682px;
  height:478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:231px;
  width:678px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:88px;
  top:14px;
  width:92px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:435px;
  top:523px;
  width:170px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:190px;
  top:267px;
  width:429px;
  height:209px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:209px;
}
#u7 {
  position:absolute;
  left:2px;
  top:96px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:240px;
  top:280px;
  width:411px;
  height:126px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:126px;
}
#u9 {
  position:absolute;
  left:2px;
  top:55px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:252px;
  top:435px;
  width:353px;
  height:155px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:155px;
}
#u11 {
  position:absolute;
  left:2px;
  top:70px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
