body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:94px;
  top:62px;
  width:150px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:93px;
  top:105px;
  width:93px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:177px;
  top:101px;
  width:191px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5 {
  position:absolute;
  left:107px;
  top:315px;
  width:72px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:37px;
  top:177px;
  width:146px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:179px;
  top:174px;
  width:191px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u10 {
  position:absolute;
  left:106px;
  top:142px;
  width:80px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:178px;
  top:138px;
  width:501px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u13 {
  position:absolute;
  left:113px;
  top:359px;
  width:80px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:180px;
  top:356px;
  width:180px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:95px;
  top:410px;
  width:95px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:181px;
  top:407px;
  width:181px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u19 {
  position:absolute;
  left:95px;
  top:446px;
  width:88px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:181px;
  top:442px;
  width:181px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u22 {
  position:absolute;
  left:180px;
  top:312px;
  width:113px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:302px;
  top:312px;
  width:103px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23_input:disabled {
  color:grayText;
}
#u24 {
  position:absolute;
  left:413px;
  top:312px;
  width:100px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24_input:disabled {
  color:grayText;
}
#u25 {
  position:absolute;
  left:106px;
  top:220px;
  width:74px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:531px;
  top:309px;
  width:499px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u28 {
  position:absolute;
  left:100px;
  top:481px;
  width:83px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:182px;
  top:476px;
  width:180px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u31 {
  position:absolute;
  left:409px;
  top:172px;
  width:440px;
  height:30px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:30px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:380px;
  top:173px;
  width:21px;
  height:22px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u34 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:385px;
  top:103px;
  width:143px;
  height:16px;
  color:#1E1E1E;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:569px;
  top:94px;
  width:226px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:32px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:541px;
  top:98px;
  width:21px;
  height:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u40 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:301px;
  top:562px;
  width:21px;
  height:22px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u42 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:180px;
  top:219px;
  width:190px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:676px;
  top:356px;
  width:697px;
  height:564px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:564px;
}
#u45 {
  position:absolute;
  left:2px;
  top:274px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:304px;
  top:218px;
  width:66px;
  height:27px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:27px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:608px;
  top:224px;
  width:222px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:380px;
  top:230px;
  width:220px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:234px;
  height:20px;
}
#u51 {
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:69px;
  top:269px;
  width:110px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:179px;
  top:266px;
  width:191px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u54_input:disabled {
  color:grayText;
}
#u55 {
  position:absolute;
  left:99px;
  top:519px;
  width:79px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:182px;
  top:519px;
  width:91px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:183px;
  top:556px;
  width:67px;
  height:30px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AE5300;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u59_img.disabled {
}
#u59.disabled {
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:290px;
  top:556px;
  width:72px;
  height:30px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AE5300;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_img.disabled {
}
#u61.disabled {
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:226px;
  top:614px;
  width:179px;
  height:16px;
  color:#FF0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:203px;
  top:611px;
  width:21px;
  height:22px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u66 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
