body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:50px;
  width:53px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:300px;
  top:100px;
  width:105px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:127px;
  width:143px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:70px;
  top:92px;
  width:191px;
  height:128px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:128px;
}
#u7 {
  position:absolute;
  left:2px;
  top:56px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:508px;
  top:128px;
  width:60px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:88px;
  top:310px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:300px;
  top:360px;
  width:118px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:300px;
  top:387px;
  width:143px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:70px;
  top:352px;
  width:191px;
  height:128px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:128px;
}
#u16 {
  position:absolute;
  left:2px;
  top:56px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:508px;
  top:388px;
  width:60px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:0px;
  top:269px;
  width:1360px;
  height:1px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1374px;
  height:20px;
}
#u18_seg1 {
  position:absolute;
  left:1350px;
  top:-10px;
  width:20px;
  height:15px;
}
#u19 {
  position:absolute;
  left:630px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:828px;
  top:128px;
  width:183px;
  height:16px;
  color:#CC00FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:820px;
  top:397px;
  width:196px;
  height:16px;
  color:#CC00FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
